```
# Compiled and build artifacts
*.o
*.obj
*.out
c_src/run_shadow_debug
c_src/run_shadow_fixed
c_src/run_shadow_fixed2
c_src/test_debug
c_src/test_file_load
c_src/test_file_load10
c_src/test_file_load2
c_src/test_file_load3
c_src/test_file_load4
c_src/test_file_load5
c_src/test_file_load6
c_src/test_file_load7
c_src/test_file_load8
c_src/test_file_load9
c_src/test_investigate
c_src/test_investigate2
c_src/test_minimal
c_src/test_minimal2
c_src/test_minimal3
c_src/test_minimal4
c_src/test_simple
```